pulumi_content: |
  #!/bin/sh
  echo "Kubeconfig path is :" 
  echo $KUBECONFIG
  pulumi stack init dev
  pulumi up --yes
  #pulumi stack output kubeconfig --show-secrets >$KUBECONFIG
pulumi_git_path: aws-native-ts-ecs
pulumi_uninstall: |-
  #!/bin/sh
  pulumi stack select dev
  pulumi destroy --yes
  pulumi stack rm --yes
build:
  type: None
  content: ''
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: Akshat Jain
lastUpdatedOn: 2023-01-23T05:58:03.058Z
